button {
  display: block;
  border-radius: 5px;
  color: #fafafa;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
  border: 0;
}

button::-moz-focus-inner {
  border: 0;
}

.btn-disabled {
  background-color: #DFDFDF;
  opacity: 0.7;
  color: #A9A9A9;
}

.btn-disabled:hover {
  cursor: not-allowed;
  transform: none !important;
  box-shadow: none !important;
}

.btn-nav {
  border: 0.5px solid #4c9aff;
  padding: 10px 15px;
  background-color: transparent;
}

.btn-nav:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 4px #121212;
}

.btn-nav.active {
  background-color: #0065ff;
  border: 0.5px solid #0065ff;
}



.btn-timer {
  padding: 15px 25px;
  margin: 10px;
  font-size: 1.2rem;
}

.btn-timer:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 4px #121212;
}

.btn-timer.btn-start {
  background-color: #36B37E;
}

.btn-timer.btn-stop {
  background-color: #FFAB00;
}

.btn-timer.btn-reset {
  background-color: #FF5630;
}
