#time-spent {
  font-size: 6rem;
}

.timer-buttons {
  display: flex;
  justify-content: center;
}

.timer-buttons button {
  padding: 10px 20px;
  display: block;
  margin: 10px;
  font-size: 1.5rem;
  color: #fff;
  border: 0;
  outline: 0;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.timer-buttons button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 4px #121212;
}

.timer-buttons .btn-disabled {
  background-color: #6B778C;
}

.timer-buttons .btn-disabled:hover {
  cursor: not-allowed;
}

.timer-buttons .btn-success {
  background-color: #36B37E;
}

.timer-buttons .btn-stop {
  background-color: #FFAB00;
}

.timer-buttons .btn-reset {
  background-color: #FF5630;
}