.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
}

.App-brand {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  /* height: 10vmin; */
  pointer-events: none;
}

.App-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 4rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    transition: 10s;
  }
  to {
    transition: 15s;
    transform: rotate(360deg);
  }
}
